# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# MLflow
mlruns/
mlartifacts/

# Azure
local.settings.json
.azure/

# Azurite
azurite-data/__blobstorage__/
azurite-data/*.json

# Environnements
.venv/
venv/
ENV/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Données volumineuses (optionnel)
# *.pickle
# *.pkl
# *.parquet
notebooks/data/clicks/
notebooks/data/*.pickle
notebooks/data/processed/*.csv
notebooks/data/globocom_dataset.zip
